.news {
  /* padding-left: 20px; */
  padding-top: 50px;
}

.list-group-item {
  background-color: blanchedalmond;
}

.cards {
  margin-top: 50px;
  margin-left: 20px;
}

.main {
  display: flex;
}

.image1 {
  height: 150px;
}
