header {
  top: 0;
  width: 100%;
}
.top-bar {
  background: #555;
  color: #fff;
  font-size: 0.9rem;
  padding: 10px 0;
}

.top-bar p {
  text-align: center;
}

.top-bar a.login-btn i,
.top-bar a.signup-btn i {
  margin-right: 10px;
}

.top-bar a.login-btn,
.top-bar a.signup-btn {
  color: #eee;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-decoration: none !important;
  font-size: 0.75rem;
  font-weight: 700;
  margin-right: 10px;
}
