header{
    height: 100px;
    background-color: lightseagreen;
    text-align: center;
}

footer{
    background-color: lightseagreen;
    position: fixed;
    bottom: 2px;
    width: 87%;
    text-align: center;
}