/* .category-wrapper {
  padding: 0px;
  margin: 0px;
  font-family: "Open Sans";
} */

.postch2 {
  color: rgb(189, 189, 189);
  font-size: 4rem;
}

.newsc {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.postc {
  width: 100%;
  max-width: 350px;
  margin: 10px;
  background: #f0f0f0;
  padding: 10px;
}

.imgc {
  width: 100%;
  border-radius: 20px;
}

.extractc {
  font-size: 2rem;
}

.category-wrapper form {
  width: 100%;
  max-width: 400px;
}

.category-wrapper form * {
  display: block;
  width: 100%;
  font-size: 1rem;
}

.category-wrapper form label {
  margin-top: 20px;
  font-weight: bold;
}

.category-wrapper form select {
  background: none;
  border: none;
  border-bottom: 1px solid #222;
  padding: 10px;
  width: 50%;
}

.category-wrapper form input[type="submit"] {
  margin-top: 10px;
  width: 100px;
  background: none;
  border: none;
  font-size: 1rem;
  background: #5433ff;
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  -webkit-box-shadow: 0px 10px 12px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 12px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 12px -8px rgba(0, 0, 0, 0.75);
}

/***************************/
/* .main1{
  display: flex;

  flex-wrap: wrap;
}

.child{
  display: flex;
} */
